nav {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;

}

.link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #0d253f;
    background-color: #1163bb;
    border-radius: 5px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, .5);
}

.link:first-child {
    margin-right: 45px;
}

.link.active {
    background-color: rgb(226, 60, 177);
    color: black;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, .5);
}